body{
    background-color: #ededf5;
}

/* Header Section */
.header-design{
    background-color: #6236FF;
    height: 180px;
    /* position: relative; */
    z-index: -1;
}

.app-header{
    position: absolute;
    width: 100%;
}

.badge{
    font-size: 8px !important; 
}

.badge-noti{
    margin-left: -25px;
}

/* Balance Section */

.balance-section{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: -110px;
    z-index: 1;
    border-radius: 20px;
}

.tot-bal{
    color: #27173e;
    font-size: 15px;
}

.amount{
    color: #27173e;
    font-size: 32px;
    margin-top: -10px;
}

.btn-danger{
    background-color: #ff396f !important;
}

.btn-primary{
    background-color: #6236FF;
}

.btn-success{
    background-color: #1dcc70;
}

.transaction p{
    font-size: 13px;
    color: #27173e;
    font-weight: 500;
}

/* Income and Expenses Section */

.income-exp{
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.trans-sect{
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.card-sect{
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.business-sect a{
    color: #27173e;
    text-decoration: none;
}

.btn-offcanvas{
    background-color: rgba(0, 0, 0, 0.3);
}

.offcanvas a{
    text-decoration: none;
}

@media screen and (max-width:500px) {
    .exChange{
        font-size: 16px !important;
    }
}


